---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/nav/Nav.astro';
import SectionHome from '../components/home/Home.astro'
import TextDefilement from '../components/TextDefilement.astro'
import Skills from '../components/home/Skills.astro'
import Card from '../components/Card.astro'
import Contact from '../components/home/Contact.astro'
import Category from '../components/Category.astro'
import Footer from '../components/Footer.astro'
import sassLogo from "../assets/img/logo-skills/sass-logo.png";
import reactLogo from "../assets/img/logo-skills/react-logo.png";
import javaLogo from "../assets/img/logo-skills/java-logo.png";
import symfonyLogo from "../assets/img/logo-skills/symfony-logo.png";
import mariaDBLogo from "../assets/img/logo-skills/mariadb-logo.png";
import mongoDBLogo from "../assets/img/logo-skills/mongodb-logo.png";
import dockerLogo from "../assets/img/logo-skills/docker-logo.png";
import statusInProgress from "../assets/img/status-in-progress.png";
import statusFinish from "../assets/img/status-finish.png";


import javascriptLogo from "../assets/img/logo-skills/javascript-logo.png";

---
<Layout title="Yohan Launay">
	<main>
		<nav class="nav">
			<ul class="ul-nav">
				<Nav href="#home" text="Home"/>
				<Nav href="#skills" text="Compétences"/>
				<Nav href="#project" text="Project"/>
				<Nav href="#contact" text="Contact"/>
			</ul>
		</nav>
		<SectionHome
			firstTitle="DÉVELOPPEUR WEB"
			secondTitle="Yohan LAUNAY"
			resume="Hello ! Actuellement en recherche d'une entreprise pour la poursuite de mon alternance en Concepteur développeur d’applications."
			github="Github"
			hrefGithub="https://github.com/Yohan-Launay/"
			hrefLinkedIn="https://www.linkedin.com/in/yohan-launay">
		</SectionHome>
		<TextDefilement text="DÉVELOPPEUR WEB"></TextDefilement>
		<section id="skills-project">
			<div class="skills-div">
				<Skills></Skills>
			</div>
			<ul id="project">
				<h2>Projects</h2>
				<div class="project">
					<div class="card">
						<a href="https://github.com/MorueSalee/ProjetEncheres">
							<Card
								title="Projet enchères"
								body="Lorem ipsum dolor sit amet consectetur. Vitae nunc eu nunc eget consequat congue. Laoreet tellus proin vitae laoreet. Ultrices sit in at at. Mattis pulvinar faucibus ultrices nunc metus interdum."
								pastille={statusFinish}
								alt="Status in progress"
								status="Terminer"
							/>
							<div class="all-category">
								<Category src={javaLogo} alt="alt" text="Java"></Category>
							</div>
						</a>
					</div>
					<div class="card">
						<a href="https://github.com/Yohan-Launay/cocktails-recipes">
							<Card
								title="Cocktails recipes"
								body="Lorem ipsum dolor sit amet consectetur. Vitae nunc eu nunc eget consequat congue. Laoreet tellus proin vitae laoreet. Ultrices sit in at at. Mattis pulvinar faucibus ultrices nunc metus interdum."
								pastille={statusInProgress}
								alt="Status in progress"
								status="En cours"
							/>
							<div class="all-category">
								<Category src={symfonyLogo} alt="alt" text="Symfony"></Category>
								<Category src={mariaDBLogo} alt="alt" text="MariaDB"></Category>
								<Category src={dockerLogo} alt="alt" text="Docker"></Category>
							</div>
						</a>
					</div>
					<div class="card">
						<a href="https://github.com/Yohan-Launay/project-cyborg">
							<Card
								title="Cyborg"
								body="Lorem ipsum dolor sit amet consectetur. Vitae nunc eu nunc eget consequat congue. Laoreet tellus proin vitae laoreet. Ultrices sit in at at. Mattis pulvinar faucibus ultrices nunc metus interdum."
								pastille={statusFinish}
								alt="Status in progress"
								status="Terminer"
							/>
						</a>
					</div>
					<div class="card">
						<a href="https://github.com/Yohan-Launay/React/tree/master/02_weather">
							<Card
								title="Weather"
								body="Lorem ipsum dolor sit amet consectetur. Vitae nunc eu nunc eget consequat congue. Laoreet tellus proin vitae laoreet. Ultrices sit in at at. Mattis pulvinar faucibus ultrices nunc metus interdum."
								pastille={statusFinish}
								alt="Status in progress"
								status="Terminer"
							/>
							<div class="all-category">
								<Category src={reactLogo} alt="alt" text="React"></Category>
								<Category src={mongoDBLogo} alt="alt" text="MongoDB"></Category>
								<Category src={sassLogo} alt="alt" text="Sass"></Category>
							</div>
						</a>
					</div>
					<div class="card">
						<a href="https://github.com/Yohan-Launay/React/tree/master/01_todolist">
							<Card
								title="Todolist"
								body="Lorem ipsum dolor sit amet consectetur. Vitae nunc eu nunc eget consequat congue. Laoreet tellus proin vitae laoreet. Ultrices sit in at at. Mattis pulvinar faucibus ultrices nunc metus interdum."
								pastille={statusFinish}
								alt="Status in progress"
								status="Terminer"
							/>
							<div class="all-category">
								<Category src={reactLogo} alt="alt" text="React"></Category>
								<Category src={mongoDBLogo} alt="alt" text="MongoDB"></Category>
								<Category src={sassLogo} alt="alt" text="Sass"></Category>
							</div>
						</a>
					</div>
					<div class="card">
						<a href="https://github.com/Yohan-Launay/Javascript/tree/main/03_Morpion">
							<Card
								title="Morpion"
								body="Lorem ipsum dolor sit amet consectetur. Vitae nunc eu nunc eget consequat congue. Laoreet tellus proin vitae laoreet. Ultrices sit in at at. Mattis pulvinar faucibus ultrices nunc metus interdum."
								pastille={statusFinish}
								alt="Status in progress"
								status="Terminer"
							/>
							<div class="all-category">
								<Category src={javascriptLogo} alt="alt" text="Javascript"></Category>
							</div>
						</a>
					</div>
					<div class="card">
						<a href="https://github.com/Yohan-Launay/Javascript/tree/main/01_Guess_the_number">
							<Card
								title="Guess the number"
								body="Lorem ipsum dolor sit amet consectetur. Vitae nunc eu nunc eget consequat congue. Laoreet tellus proin vitae laoreet. Ultrices sit in at at. Mattis pulvinar faucibus ultrices nunc metus interdum."
								pastille={statusFinish}
								alt="Status in progress"
								status="Terminer"
							/>
							<div class="all-category">
								<Category src={javascriptLogo} alt="alt" text="Javascript"></Category>
							</div>
						</a>
					</div>
					<div class="card">
						<a href="https://github.com/Yohan-Launay/Javascript/tree/main/02_Rock_Paper_Scissors">
							<Card
								title="Rock papier Scissors"
								body="Lorem ipsum dolor sit amet consectetur. Vitae nunc eu nunc eget consequat congue. Laoreet tellus proin vitae laoreet. Ultrices sit in at at. Mattis pulvinar faucibus ultrices nunc metus interdum."
								pastille={statusFinish}
								alt="Status in progress"
								status="Terminer"
							/>
							<div class="all-category">
								<Category src={javascriptLogo} alt="alt" text="Javascript"></Category>
							</div>
						</a>
					</div>
				</ul>
		</section>
		<section>
			<Contact text="🚀 N'hesitez pas à m'envoyer un mail ou un message privé sur LinkedIn pour avoir plus d'informations."/>
		</section>
		<section>
			<Footer version="🧊 Portfolio 2.1" created="Created with Astro" />
		</section>
	</main>
</Layout>

<style>
	#skills-project {
		margin-top: 100px;
		display: flex;
	}
	.skills-div {
		width: 90vw;
	}
	h2 {
		font-size: 30px;
		text-align: center;
		padding: 20px 0;
	}
	.card {
		border-radius: 16px;
		border: 1px solid var(--text-beige);
		background: var(--blue-pale);
		width: 330px;
		margin: 10px;
		padding: 10px 20px;
	}
	.project {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
	}

	.all-category {
		display: flex;
		flex-wrap: wrap;
	}
	nav {
		width: 450px;
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.66);
		background: rgba(255, 255, 255, 0.43);
		backdrop-filter: blur(10.600000381469727px);
		position: fixed;
		top: 25px;
		left: 200px;
		z-index: 10;
	}
	.ul-nav {
		padding: 0;
		margin: 0;
		width: 100%;
		height: 41px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	@media (max-width: 760px) {
		section {
			margin: 0 20px;
			color: var(--text-beige);
		}

		nav {
			width: 100%;
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.66);
			background: rgba(255, 255, 255, 0.43);
			backdrop-filter: blur(10.600000381469727px);
			position: fixed;
			top: 0;
			left: 0;
			z-index: 10;
		}

		#skills-project {
			display: flex;
			flex-direction: column;
			margin-top: 50px;
		}
	}
</style>
